<h1>About me</h1>
<br />
<%= image_tag '20170817_073333.jpg', alt: 'Timothy', class: 'img-responsive img' %>
<p style='text-align: center;'>My name is Timothy. I am 9 years old and I love coding.<br /> Coding is a fun way of telling the computer what to do in a language the computer will understand
because the computer
is dumb and cannot understand the commands you give to it.<br />
The first language I learnt by
myself was Python. I loved python.
I have been reading and learning about Java, SQL, jQuery, and C++.
During the summer, I had an opportunity to learn a lot on web development in
my Coding school called Tech Talent South in Raleigh, North Carolina.
It was an 8-week bootcamp. We worked on Ruby, Ruby on Rails, ruby gem, HTML, CSS, Bootstrap, JS, jQuery, Git and Github, SQL and Active Record, the RESTful API and Heroku. I loved all the fun projects I did like:<br />
<ul>
  <li>A blog app</li>
  <li>An eCommerce application</li>
  <li>My own twitter</li>
  <li>And a lot more.</li>
</ul>
</p>

<p style='text-align: center'><b style='text-align: center'>-----</b></p>

<p style='text-align: center;'>I love to write clean code and watch my programs run. It is very exciting.
I want to teach kids how to code because it is fun. <em>I am also ready to code the next big thing to give solutions to some problems
that have been around for a <strong>long time.</strong></em><br />
I still have some languages I want to learn more in depth.
I want to do more projects to get better at more programming languages.</p>
