<div class='row' style='overflow: scroll;'>

  <div class='embed-responsive embed-responsive-16by9'>
    <%= video_tag 'IMG_4450.mov', controls: true, preload: 'metadata', class: 'embed-responsive-item' %>
  </div>
  <div class='embed-responsive embed-responsive-16by9'>
    <%= video_tag 'IMG_4451.mov', controls: true, preload: 'metadata', class: 'embed-responsive-item' %>
  </div>
  <div class='embed-responsive embed-responsive-16by9'>
    <%= video_tag 'IMG_4452.mov', controls: true, preload: 'metadata', class: 'embed-responsive-item' %>
  </div>
</div>
